.button {
  background-color: var(--color-black);
  color: var(--color-primary);
  border-radius: 12px;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
}